<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xja.blogsystem.mapper.BlogMapper">

    <select id="getAllBlogs" resultType="com.xja.blogsystem.pojo.Blog">
        SELECT * FROM blogs ORDER BY created_time DESC
    </select>

    <select id="getBlogById" parameterType="int" resultType="com.xja.blogsystem.pojo.Blog">
        SELECT * FROM blogs WHERE id = #{id}
    </select>

    <insert id="insertBlog" parameterType="com.xja.blogsystem.pojo.Blog">
        INSERT INTO blogs (title, content, user_id)
        VALUES (#{title}, #{content}, #{userId})
    </insert>

    <update id="updateBlog" parameterType="com.xja.blogsystem.pojo.Blog">
        UPDATE blogs
        SET title = #{title}, content = #{content}
        WHERE id = #{id}
    </update>

    <delete id="deleteBlogById" parameterType="int">
        DELETE FROM blogs WHERE id = #{id}
    </delete>

    <select id="getBlogsByUserId" parameterType="int" resultType="com.xja.blogsystem.pojo.Blog">
        SELECT * FROM blogs WHERE user_id = #{userId} ORDER BY created_time DESC
    </select>

</mapper>